*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

nav img {
  height: 40px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

nav button.menu {
  display: none;
}

@media (max-width: 900px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
  nav.open {
    height: 100vh;
  }
  nav.open img {
    margin-bottom: 15px;
  }
  nav.open ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: none;
  }
  nav button.menu {
    position: absolute;
    top: 15px;
    right: 15px;
    display: unset;
    height: 40px;
    width: 40px;
  }
}

section.full-hight {
  height: 100vh;
}

section.index-section {
  position: relative;
  overflow: hidden;
}

section.index-section video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

section.index-section img {
  display: none;
  vertical-align: middle;
}

@media (max-width: 900px) {
  section.index-section video {
    display: none;
  }
  section.index-section img {
    display: unset;
    position: absolute;
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: -50%;
    left: -50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

section.news-section {
  background-color: red;
}

section#role {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
}

section#role .background {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(50%, 50%) scale(1, 1);
          transform: translate(50%, 50%) scale(1, 1);
  z-index: -1;
  -webkit-animation: scaleChange 12s;
          animation: scaleChange 12s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
}

section#role .background.active {
  opacity: 1;
  -webkit-transition: opacity 6s;
  transition: opacity 6s;
}

section#role .background.leave {
  opacity: 0;
  -webkit-transition: opacity 6s;
  transition: opacity 6s;
}

.roleMain {
  width: 80%;
  margin-left: auto;
  height: 100vh;
  position: relative;
}

.roleMain .rolePic {
  height: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.roleMain .rolePic img {
  position: absolute;
  height: 90%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation-name: MoveToLeft;
          animation-name: MoveToLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: none;
}

.roleMain .rolePic img.active {
  display: block;
}

.roleMain .roleInfo {
  position: absolute;
  width: 40%;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roleMain .roleInfo .roleName {
  font-size: 40px;
  color: white;
}

.roleMain .roleInfo .roleStory {
  height: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 20px;
  letter-spacing: 0.1em;
  border-radius: 10px;
}

.roleSelector {
  position: absolute;
  min-height: 150px;
  height: 20vh;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 99;
  cursor: pointer;
  padding: 10px 0px;
}

.roleSelector .roleCards .roleCard {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 10px;
  height: 100%;
}

.roleSelector .roleCards .roleCard:hover .rolePic img {
  -webkit-transform: translate(-50%, -50%) scale(1.4, 1.4);
          transform: translate(-50%, -50%) scale(1.4, 1.4);
}

.roleSelector .roleCards .roleCard .rolePic {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}

.roleSelector .roleCards .roleCard .rolePic img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
          transform: translate(-50%, -50%) scale(1.2, 1.2);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
}

.roleSelector .roleCards .roleCard .roleName {
  margin-top: auto;
  color: white;
  letter-spacing: 0.5em;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 20px;
}

@media only screen and (max-device-width: 900px) {
  .roleMain {
    width: 100%;
  }
  .roleMain .roleInfo {
    width: 80%;
    left: 10%;
  }
}

@-webkit-keyframes scaleChange {
  0% {
    -webkit-transform: translate(50%, 50%) scale(1, 1);
            transform: translate(50%, 50%) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(50%, 50%) scale(1.05, 1.05);
            transform: translate(50%, 50%) scale(1.05, 1.05);
  }
}

@keyframes scaleChange {
  0% {
    -webkit-transform: translate(50%, 50%) scale(1, 1);
            transform: translate(50%, 50%) scale(1, 1);
  }
  100% {
    -webkit-transform: translate(50%, 50%) scale(1.05, 1.05);
            transform: translate(50%, 50%) scale(1.05, 1.05);
  }
}

@-webkit-keyframes MoveToLeft {
  0% {
    left: 80%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes MoveToLeft {
  0% {
    left: 80%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 0;
  cursor: pointer;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbb17d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e4c6a1;
}

.slick-slide {
  min-height: calc(20vh - 40px);
}
/*# sourceMappingURL=style.css.map */