/*Extend*/
%ckeditor {
  font-size: 1rem;
  color: #7d7d7d;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  p {
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
  iframe{
    max-width: 100%;
  }
}

%mainHover {
  color: var(--mainColor);
  transition: all 0.3s linear;
}

%mainBgcHover {
  background-color: var(--mainColor);
  transition: all 0.3s linear;
}

/*Extend*/
.display-none {
  display: none !important ;
}
:root {
  --mainColor: #00e4e4;
}
html {
  min-height: 100% !important;
  height: 100%;
  font-size: 16px;
  @media (max-width: 900px) {
    font-size: 14px;
    overflow: hidden;
  }
}

body {
  background-color: #ededed;
  min-height: 100% !important;
  height: 100%;

  position: relative;
  &.lock-scroll {
    overflow: hidden;
  }
  @media (max-width: 900px) {
    height: 100%;
    overflow-y: scroll;
    min-height: unset;
  }
}

h2 {
  &.section-title {
    font-size: 3rem;
    color: white;
    font-weight: 400;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

nav {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 999;
  img {
    height: 40px;
    margin-right: 20px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li {
      margin: 0 15px;
      position: relative;
      min-height: 70px;
      height: 100%;
      display: flex;
      align-items: center;
      a,
      label {
        color: white;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          text-shadow: 0 0 0.2em var(--mainColor), 0 0 0.2em var(--mainColor);
        }
      }
    }

    li.dropdown {
      label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ul {
        display: none;
        position: absolute;
        width: 300%;
        left: -100%;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        flex-direction: column;
      }
      &:after {
        content: "";
        display: block;
        border-top: 5px solid #ccc;
        border-left: 4.5px solid transparent;
        border-right: 4.5px solid transparent;
        margin-left: 9px;
        transition-duration: 0.5s;
        transition-property: transform;
      }
      &:hover {
        ul {
          display: flex;
        }
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    input[type="checkbox"] {
      display: none;
    }
  }
  button.menu {
    display: none;
  }

  @media (max-width: 900px) {
    background-color: transparent;
    transition: background-color 0.3s linear;
    backdrop-filter: none;
    flex-direction: column;
    padding: 15px;
    height: 56px;
    img {
      position: absolute;
      height: 42px;
      width: auto;
      left: 15px;
      top: 7px;
    }
    &.no-top {
      background-color: rgba(0, 0, 0, 0.75);
      transition: background-color 0.3s linear;
    }
    ul {
      display: none;
      margin-top: 55px;
      flex-direction: column;
      width: 100%;
      li {
        width: 100%;
        min-height: unset;
        height: 60px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & + li {
          border-top: 1px solid oldlace;
        }
      }
      li.dropdown {
        display: flex;
        position: relative;
        ul {
          display: none;
          position: absolute;
          width: 100%;
          left: 0px;
          top: 0px;
          background-color: transparent;
          flex-direction: column;

          li {
            margin-right: unset;
            border: none !important;
            background-color: rgba(255, 255, 255, 0.2);
          }
          li + li {
            margin-top: 2px;
          }
        }
        &:hover input:not(:checked) + ul {
          display: none;
        }
        &:hover {
          &:after {
            transform: rotate(0deg);
          }
        }
        input:checked + ul {
          display: flex;
        }
        &.open {
          margin-bottom: 120px;
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    &.open {
      background-color: rgba(0, 0, 0, 0.75);
      transition: background-color 0.3s linear;
      backdrop-filter: blur(3px);
      height: 100%;
      overflow: scroll;
      justify-content: start;
      button.menu::before {
        content: "\f00d";
      }
      ul {
        display: block;
      }
    }
    button.menu {
      position: absolute;
      top: 13px;
      right: 15px;
      display: unset;
      height: 30px;
      width: 30px;
      background-color: transparent;
      &::before {
        content: "\f0c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        line-height: 30px;
        font-size: 30px;
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        color: white;
        text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
      }
    }
  }
}
.nav-tab {
  padding: 30px 10px 10px 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  ul.nav {
    display: flex;
    li {
      padding: 5px 15px;
      margin: 0px 5px;
      color: white;
      cursor: pointer;
      &.active,
      &:hover {
        border-bottom: 2px solid var(--mainColor);
        color: var(--mainColor);
      }
    }
  }
  .info-tab {
    padding: 20px 5px;
    flex: 1 1 auto;
  }
  @media (max-width: 900px) {
    padding: 10px 10px;

    .info-tab {
      padding: 10px 5px;
      flex: 1 1 auto;
    }
  }
}

footer {
  padding: 50px 0;
  background-color: #535353;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img.logo {
      width: 200px;
    }
  }
  .footer-right {
    flex-basis: 50%;
    .footer-social {
      margin: 10px 0px;
      ul {
        display: flex;
        li + li {
          margin-left: 10px;
        }
        li:hover i {
          @extend %mainHover;
        }
        i {
          font-size: 20px;
        }
      }
    }
    .footer-links {
      margin: 10px 0px 5px 0px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          flex-basis: auto;
          padding-right: 10px;
          margin: 0px 10px 5px 0px;
          font-weight: 900;
          border-right: white 1px solid;
          a {
            color: white;
            &:hover {
              @extend %mainHover;
            }
          }
        }
        li:last-child {
          border: none;
        }
      }
    }
    .footer-copyright {
      color: white;
      font-family: "Calibri";
    }
  }
  @media (max-width: 900px) {
    .footer-left,
    .footer-right {
      flex-basis: 100%;
    }
    .footer-copyright,
    .footer-links ul,
    .footer-social ul {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
/*Loding Page*/
section.load-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0,.5);
  backdrop-filter: blur(20px);
  z-index: 998;
  .load-icon {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    bottom: 5%;
    right: 5%;
    @media (max-width: 900px) {
      right: 0;
      left: 0;
      margin-left:auto;
      margin-right:auto;
    }
  }
  &.full{
    background: black;
    z-index: 999;
    .load-icon {
      position: absolute;
      max-width: 200px;
      max-height: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

section.error{
  .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2{
    font-weight: 900;
  }
  .error-image{
    max-width: 300px;
    max-height: 300px;
  }
  button{
    color: white;
    background-color: var(--mainColor);
    font-size: 18px;
    font-weight: 600;
    padding: 5px 20px;
    margin: 20px;
    border-radius: 10px;
    i{
      margin-right: 5px;
    }
    &:hover{
      background-color: #b0b0b0;
      transition: background-color 0.2s linear;
    }
  }
}
/*Modal*/
section.modal {
  display: none;
  &[data-name="img"] {
    .modal-content {
      height: 80%;
      width: auto;
      position: relative;
      .modal-img {
        height: 100%;
        img {
          height: 100%;
          width: auto;
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &.open {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    height: calc(900px / 16 * 9);
    .modal-head {
      color: white;
      height: 40px;
      line-height: 40px;
      position: relative;
    }
    .modal-video {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .modal-sidebar {
      flex: 0 0 200px;
      height: 100%;
      overflow-y: scroll;
      ul {
        li {
          background-color: rgba(255, 255, 255, 0.4);
          border: 2px white solid;
          line-height: 40px;
          text-align: center;
          width: 200px;
          color: white;
          cursor: pointer;
          font-size: 1rem;
          &:hover,
          &.active {
            background-color: rgba(0, 228, 228, 0.5);
          }
        }
        li + li {
          margin-top: 10px;
        }
      }
    }
    .modal-main {
      flex: 1 1 auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
      .modal-title {
        background-image: url("../img/world/modal.png");
        padding-left: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        line-height: 42px;
        text-align: center;
        position: relative;
        font-size: 2rem;
        color: white;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .modal-infos {
        flex: 1 1 auto;
        overflow-y: scroll;
        padding-top: 20px;
        &::-webkit-scrollbar {
          width: 5px;
          cursor: pointer;
        }
        &::-webkit-scrollbar-track {
          background-color: rgba(255, 255, 255, 0.2);
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--mainColor);
          border-radius: none !important;
        }
        .modal-info {
          display: none;
        }
        .modal-info.active {
          display: unset;
        }
        .modal-info-title {
          font-size: 2rem;
          padding-left: 5px;
          color: white;
          line-height: 42px;
          border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        }
        .modal-info-content {
          @extend %ckeditor;
          width: 100%;
          padding: 20px 10px;
          color: white;
        }
        .modal-info + .modal-info {
          margin-top: 20px;
        }
      }
    }
  }
  @media (max-width: 900px) {
    .modal-content {
      height: 40%;
      max-width: 100%;
      position: relative;
    }
    &.modal-full .modal-content {
      height: 90%;
      width: 100%;
      .modal-sidebar {
        display: none;
        position: absolute;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(10px);
        top: 42px;
        width: calc(100% - 40px);
        height: 100%;
        &.open {
          display: block;
        }
        ul {
          margin: 10px;
          display: flex;
          flex-wrap: wrap;
          li {
            width: 46%;
            margin: 2%;
          }
        }
      }
    }
  }
  button.modal-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: -40px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s linear;
    &:hover {
      @extend %mainBgcHover;
    }
    &::before {
      content: "\f00d";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      line-height: 40px;
      font-size: 30px;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 40px;
      height: 40px;
      display: block;
      color: white;
      text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
    }
    @media (max-width: 900px) {
      width: 40px;
      height: 40px;
      top: -40px;
      right: 0px;
    }
  }
  .modal-title {
    display: flex;
    justify-content: space-between;
    button {
      position: relative;
      width: 40px;
      height: 40px;
      top: unset;
      right: unset;
      background-color: transparent;
      transition: background-color 0.2s linear;
      &:hover {
        @extend %mainBgcHover;
      }
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        line-height: 40px;
        font-size: 30px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        display: block;
        color: white;
        text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
      }
      &.modal-close::before {
        content: "\f00d";
      }
      &.modal-menu::before {
        content: "\f0c9";
        font-size: 25px;
      }
      &.modal-menu {
        display: none;
        @media (max-width: 900px) {
          display: block;
        }
      }
    }
  }
}

/*section*/
section.top {
  padding-top: 70px;
}
section.full-hight {
  min-height: 100% !important;
  height: 100%;
  img.full-hight {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
    z-index: -99;
  }
}
section.background-image {
  padding-bottom: 50px;
  position: relative;
  height: 50%;
  > img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 900px) {
    height: 35%;
  }
}

section.background-image.auto {
  padding-bottom: 0px;
  position: relative;
  height: unset;
  > img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 900px) {
    height: unset;
  }
}

section.items-main {
  margin-bottom: 100px;
  .items {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    a {
      flex-basis: 33.3333%;
      overflow: hidden;
      &.hide {
        display: none;
        transition: all 0.3s linear;
      }
      .item {
        display: flex;
        flex-direction: column;
        margin: 10px;
        border: 2px solid transparent;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        > img {
          width: 100%;
          height: auto;
        }
        .item-filter {
          position: absolute;
          background-color: var(--mainColor);
          padding: 0.8rem 1.5rem;
          top: 1rem;
          left: 1rem;
          border-radius: 5px;
        }
        .item-description {
          padding: 10px 20px;
          text-align: center;
          line-height: 20px;
          background-color: #e3e3e3;
          margin-top: 10px;
        }
        &:hover {
          border: 2px solid var(--mainColor);
          transition: all 0.3s linear;
        }
      }
    }

    @media (max-width: 900px) {
      a {
        flex-basis: 100%;
      }
    }
  }
}

ul.main-btns {
  display: flex;
  margin: 16px 10px;
  li {
    width: 200px;
    height: 40px;
    background-color: #b0b0b0;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & + li {
      margin-left: 15px;
    }
  }
  li.active {
    background-color: #303030;
    color: var(--mainColor);
  }
  li.active a {
    color: var(--mainColor);
  }
  li:hover {
    background-color: #303030;
    @extend %mainHover;
  }
  @media (max-width: 900px) {
    li {
      height: 38px;
    }
  }
}

ul.main-btns.lg {
  display: grid;
  margin: 16px 10px;
  grid-template-columns: repeat(9, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  li {
    width: unset;
    height: 40px;
    background-color: #b0b0b0;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    & + li {
      margin-left: 0px;
    }
  }
  li.active {
    background-color: #303030;
    color: var(--mainColor);
  }
  li:hover {
    background-color: #303030;
    @extend %mainHover;
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(5, 1fr);
    li:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      height: 100%;
    }
    li {
      height: 38px;
    }
  }
}

/*Button*/
button {
  border: none;
  cursor: pointer;
}

/*PATH*/
ul.path {
  color: white;
  display: flex;
  margin: 20px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  li a {
    display: inline-block;
    cursor: pointer;
    color: #808080;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem;
    &:hover {
      @extend %mainHover;
    }
  }
  li:last-child{
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem;
  }
  li:last-child a {
    width: 100%;
    color: var(--mainColor);
  }
  li + li a{
    &::before {
      content: ">";
      color: #808080;
    }
  }
}

/*--------------------Index--------------------*/
section.index-section {
  position: relative;
  padding-bottom: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
  }
  video.mobile {
    display: none;
  }
  button {
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    margin-top: auto;
    position: relative;
    background-color: transparent;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      background-color: black;
      background-color: var(--btn-index-video);
      opacity: 0.2;
    }
    &:hover::before {
      opacity: 0.4;
    }
  }

  @media (max-width: 900px) {
    video.desktop {
      display: none;
    }
    video.mobile {
      display: unset;
    }
  }
}

section.news-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .news-title {
    height: 20%;
    min-height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      z-index: 99;
    }
  }
  .news-box {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: relative;
    display: flex;
    @media (min-width: 900px) and (max-width: 1280px) {
      height: 260px;
    }
    @media (min-width: 1280px) {
      height: 376.5px;
    }
    .news-left {
      flex: 0 0 50%;
      overflow: hidden;
    }
    .news-right {
      flex: 0 0 50%;
      overflow: hidden;
    }
    & > img {
      position: absolute;
      &.news-role-left {
        height: 120px;
        left: 20px;
        top: -120px;
      }
      &.news-role-right {
        height: 160px;
        right: 20px;
        top: -125px;
      }
    }
  }
  .mySwiper {
    height: 100%;
    .swiper-slide {
      overflow: hidden;
      position: relative;
      img {
        display: unset;
        height: 100%;
        width: 100%;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: white;
    }
  }
  @media (max-width: 900px) {
    .container {
      width: 100%;
      height: 80%;
    }
    .news-title {
      height: 10%;
      min-height: 100px;
    }
    .news-box {
      width: 100%;
      height: 100%;
      flex-direction: column;

      .news-left {
        flex: unset;
        width: 100%;
        .mySwiper {
          height: unset;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .news-right {
        flex: 1 1 auto;
      }
      img {
        &.news-role-left {
          height: 70px;
          left: 10px;
          top: -70px;
          z-index: 99;
        }
        &.news-role-right {
          height: 80px;
          right: 10px;
          top: -62.5px;
          z-index: 99;
        }
      }
    }
  }
}
ul.news-in-tab {
  display: none;
  flex-direction: column;
  height: 100%;
  li {
    padding: 0px 5px;
    height: 20%;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    &:hover {
      background-color: rgba(149, 178, 235, 0.2);
    }
  }
  a {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    p.title {
      flex: 1 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.2rem;
    }
    p.date {
      flex: 0 0 auto;
      color: rgba(255, 255, 255, 0.35);
      font-size: 0.8rem;
    }
  }
  &.active {
    display: flex;
  }
}
button.news-in-tab-more {
  background-color: transparent;
  padding: 5px 10px;
  margin-left: auto;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      @extend %mainHover;
    }
  }
  @media (max-width: 900px) {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    a {
      color: white;
    }
  }
}

section.role-section {
  display: flex;
  flex-wrap: wrap;
  .role-box {
    background-color: gray;
    height: 200px;
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img.role-bgc {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.3s linear;
    }
    img.role-logo {
      position: absolute;
      height: 60%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: height 0.3s linear;
      z-index: 99;
    }
    &:hover img.role-bgc {
      transform: scale(1.02);
      transition: all 0.3s linear;
    }

    &:hover img.role-logo {
      height: 70%;
      transition: height 0.3s linear;
    }
    &.role-right img.role {
      position: absolute;
      height: 250%;
      left: 50%;
      opacity: 0;
      transform: translate(-100%, 0);
    }

    &.role-right:not(.active):hover img.role {
      animation-name: MoveToRight;
      animation-duration: 1s;
    }

    &.role-left img.role {
      position: absolute;
      height: 250%;
      left: 50%;
      opacity: 0;
      transform: translate(0%, 0);
    }

    &.role-left:not(.active):hover img.role {
      animation-name: MoveToLeft;
      animation-duration: 1s;
    }

    .role-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: var(--role-box-color);
      transition: opacity 0.3s linear;
    }
    &:hover .role-mask {
      opacity: 0.3;
      transition: opacity 0.3s linear;
    }
    &.role-right.active img.role {
      opacity: 1;
    }
    &.role-left.active img.role {
      opacity: 1;
    }
  }
  @media (max-width: 900px) {
    .role-box {
      flex-basis: 100%;
      &.role-right img.role {
        opacity: 1;
        left: 70%;
      }
      &.role-right:not(.active):hover img.role {
        animation-name: unset;
        animation-duration: 0s;
      }
      &.role-left img.role {
        opacity: 1;
        left: 30%;
      }

      &.role-left:not(.active):hover img.role {
        animation-name: unset;
        animation-duration: 0s;
      }
    }
  }
}
/*--------------------Index--------------------*/
/*--------------------NEWS--------------------*/
.pagination {
  ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  li {
    width: 6%;
    margin: 0px 5px;
    a {
      display: block;
      width: 100%;
      text-align: center;
      font-family: "Calibri";
      font-weight: 900;
      padding: 10px 1em;
      background-color: #b0b0b0;
      border-radius: 5px;
      &:hover,
      &.active {
        background-color: black;
        color: var(--mainColor);
        transition: all 0.2s linear;
      }
    }
  }
  @media (max-width: 900px) {
    li:not(.mobile-show) {
      display: none;
    }
    li.mobile-show {
      width: 25%;
    }
  }
}
section.news-top {
  .news-top-boxs {
    display: flex;
    width: 100%;
    .news-top-box {
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      margin: 10px 0px;
      display: flex;
      border-radius: 5px;
      flex-direction: column;
      flex: 1 1 33.333%;
      img {
        border-radius: 5px;
        width: 100%;
      }

      h3.title {
        margin: 15px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      pre.description {
        margin-bottom: 15px;
        white-space: pre-wrap;
        line-height: 20px;
        font-size: 1rem;
        height: 100px;
        overflow: hidden;
      }
      .info {
        display: flex;
        margin-top: auto;
        p.date {
          font-size: 1rem;
        }
        p.tag {
          margin-left: auto;
          font-size: 1rem;
          color: var(--mainColor);
          &.place {
            color: #fad200;
          }
        }
      }
    }
  }
}

section.news-main {
  background-color: #ededed;
  margin: 20px 0px;
  .news-main-boxs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 3px solid transparent;
    &:hover {
      border: 3px solid rgba(57, 59, 64, 0.15);
      transition: all 0.3s linear;
    }
    .news-main-box {
      background-color: white;
      display: flex;
      height: 200px;
      padding: 15px;
      img {
        height: 100%;
      }
      .news-main-box-r {
        justify-content: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        overflow: hidden;
        h4.title {
          line-height: 1.625rem;
        }
        pre {
          padding: 10px 0px;
          white-space: pre-wrap;
          line-height: 1.2rem;
          font-size: 1rem;
          color: #303030;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: calc(10px + 4.8rem);
          margin-bottom: auto;
          
        }
        .info {
          display: flex;
          justify-content: end;
          margin-top: 10px;
          p.date {
            font-size: 1rem;
            margin: 0px 10px;
          }
          p.tag {
            font-size: 1rem;
            margin: 0px 10px;
            color: var(--mainColor);
            &.place {
              color: #fad200;
            }
          }
        }
      }
      @media (max-width: 900px) {
        padding: 10px;
        height: unset;
        img {
          height: unset;
          max-width: 40%;
          aspect-ratio: 640 / 400;
          object-fit: contain;
        }
        .news-main-box-r {
          padding-left: 10px;
          pre {
            display: none;
          }
          .info {
            align-self: end;
            flex-wrap: wrap;
            p.date {
              margin: 0px 5px;
            }
            p.tag {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }
}

section.news-detail {
  background: #bedfe3 url("../img/news/news_deatil.jpg") no-repeat top center;
  background-size: 100% auto;
  min-height: 100%;
  width: 100%;
  padding: 150px 0px;
  .container {
    display: flex;
    flex-direction: column;
  }
  .news-article {
    display: flex;
    align-items: flex-start;
    .news-body {
      background-color: #f0f0f0;
      padding: 10% 5%;
      display: flex;
      flex-direction: column;
      width: 900px;
      border-top: var(--mainColor) solid 6px;
      @media (max-width: 900px) {
        width: 100%;
      }
      .news-title {
        line-height: 40px;
        font-size: 2rem;
        color: #333;
      }
      .news-banner {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .news-date {
        margin-top: 13px;
        font-size: 1rem;
        line-height: 22px;
        color: #999;
      }
      .news-content {
        margin-top: 51px;
        @extend %ckeditor;
      }
    }
    .news-side {
      border-top: var(--mainColor) solid 6px;
      margin-left: 30px;
      width: 350px;
      background-color: white;
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      .title {
        background-color: #eeebeb;
        text-align: center;
        line-height: 40px;
        font-size: 1.2rem;
      }
      .last-news-box {
        background-color: #f0f0f0;
        padding: 10px;
        display: flex;
        margin-top: 10px;
        > img {
          width: 40%;
          height: auto;
        }
        .last-news-info {
          display: flex;
          flex-direction: column;
          padding-left: 10px;
        }
        .last-news-title {
          font-size: 1rem;
        }
        .last-news-date {
          font-size: 0.8rem;
          margin-top: auto;
        }
      }
      a:hover .last-news-box {
        background-color: #d6d6d6;
      }
      @media (max-width: 1280px) {
        display: none;
      }
    }
  }
}

/*--------------------NEWS--------------------*/
/*--------------------WORLD--------------------*/
.storySwiper {
  width: 100%;
  height: 100%;
  background-color: black;
  .swiper-pagination {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
    right: 130vw;
    opacity: 0;
    &.active {
      right: calc(100vw - 30px) !important;
      opacity: 1;
    }
    &::before {
      content: "";
      height: 100%;
      width: 2px;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: calc(50% - 1px);
      z-index: -99;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #c4c4c4;
      opacity: 1;
      position: relative;
      &:hover {
        background-color: #fff;
        .nametag {
          background-color: rgba(255, 255, 255, 0.5);
          transition: background-color 0.3s linear;
        }
      }
      &.swiper-pagination-bullet-active {
        background-color: var(--mainColor);
        .nametag {
          background-color: rgba(0, 228, 228, 0.5);
          transition: background-color 0.3s linear;
        }
      }
    }
    .nametag {
      position: absolute;
      width: 80px;
      height: 30px;
      font-size: 1.2rem;
      line-height: 18px;
      top: -10px;
      left: 30px;
      color: white;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }
    @media (max-width: 900px) {
      top: calc(100% - 25px);
      width: 100vw;
      left: 0px;
      flex-direction: row;
      height: 100px;
      &::before {
        height: 2px;
        width: 100vw;
        left: 0;
        top: 10px;
      }
      .nametag {
        background-color: transparent !important;
        width: 30px;
        height: 50px;
        top: 10px;
        left: -10px;
        justify-content: center;
        padding-left: 0px;
      }
    }
  }
}
section.world-story {
  .world-box.first-box {
    .world-content {
      align-items: center;
      margin-top: unset;
      height: unset;
    }
  }
  .world-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 0px 200px;
    overflow: hidden;
    img.world-bgc {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s linear;
      z-index: -2;
    }
    .world-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: -1;
    }
    .world-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      .title {
        color: white;
        text-align: center;
        font-size: 2.8rem;
        padding: 10px 0px;
        border-bottom: 2px solid white;
        margin: 10px 0px;
        font-weight: 900;
        text-shadow: 0 0 12px rgba(14, 22, 27, 0.8);
        span {
          font-size: 2rem;
          padding: 0px 10px;
        }
      }
      .description {
        color: white;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.7rem;
        text-shadow: 0 0 12px rgba(14, 22, 27, 0.5);
        font-weight: 600;
      }

      img.icon {
        width: 120px;
      }
      img.role {
        flex: 0 1 20%;
      }
      .btn-list {
        margin: 4.5% 0;
        button {
          width: 85px;
          height: 85px;
          border-radius: 50%;
          color: #4b4b4b;
          background-color: #e2e2e2;
          font-size: 1rem;
          span {
            font-size: 1.5rem;
            display: block;
          }
          &:hover {
            background-color: #4b4b4b;
            color: #e2e2e2;
            transition: all 0.3s linear;
            span {
              color: #e2e2e2;
              transition: all 0.3s linear;
            }
          }
        }
        button + button {
          margin-left: 18px;
        }
      }
    }

    @media (max-width: 900px) {
      padding: 0px 20px;
    }
  }
}

/*--------------------WORLD--------------------*/
/*--------------------SHOP--------------------*/
.shop-page-content {
  margin: 10px;
  @extend %ckeditor;
}
/*--------------------SHOP--------------------*/
/*--------------------ROLE--------------------*/
section.role {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  *{
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%) scale(1, 1);
    z-index: -1;
    animation: scaleChange 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
    &.active {
      opacity: 1;
      transition: opacity 6s;
    }
    &.leave {
      opacity: 0;
      transition: opacity 6s;
    }
  }
}

.role-main {
  position: relative;
  margin: auto;
  height: 100%;
  min-width: 900px;
  display: none;
  &.active{
    display: block;
  }
  img.role-info {
    position: relative;
    min-height: 800px;
    height: 100%;
    width: auto;
    object-fit: contain;
  }
  img.role {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 700px;
    object-fit: contain;
  }
  img {
    &.left {
      animation: RoleLeft 1s;
    }
    &.right {
      animation: RoleRight 1s;
    }
  }
  .role-button {
    position: absolute;
    display: flex;
    height: 8%;
    min-height: 64px;
    justify-content: center;
    top: 65%;
    animation:BtnShowOpacity 2s forwards ;
    &.right {
      left: 53%;
    }
    &.left {
      left: 0%;
    }
    img {
      height: 100%;
      width: auto;
      margin-right: 10px;
      opacity: 0.8;
      cursor: pointer;
      &.disable {
        cursor: inherit;
      }
      &:not(.disable):hover {
        opacity: 1;
      }
    }
  }
}
.role-main-mobile {
  display: none;
}
.role-selector {
  position: absolute;
  height: 180px;
  bottom: 0;
  width: 100%;
  z-index: 99;
  cursor: pointer;
  padding: 10px 0px;
  .role-cards {
    .role-card {
      cursor: pointer;
      height: 140px;
      width: 120px;
      margin: 10px;
      &:hover {
        transition: all 0.1s linear;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
      }
    }
  }
}
@media (max-width: 900px) {
  .role-main,.role-main.active {
    display: none;
  }
  .role-main-mobile {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;  
    &.active{
      display: block;
    }
    .mask{
      position: absolute;
      background-color: white;
      animation: RoleMaskOpacity 1.5s forwards;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    img.bgc {
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img.role {
      position: absolute;
      width: 100%;
      height: auto;
      top: 30px;
      left: 0;
      margin-left: auto;
    }
    .role-button {
      position: absolute;
      bottom: 170px;
      display: flex;
      width: 100%;
      padding: 0px 25px;
      z-index: 3;
      cursor: pointer;
      animation:BtnShowOpacity 2s forwards ;
      &.left {
        justify-content: flex-start;
      }
      &.right {
        justify-content: flex-end;
      }
      img {
        height: auto;
        width: 25%;
        margin-right: 5px;
      }
    }
  }
}

/*--------------------ROLE--------------------*/
/*--------------------scenery-detail--------------------*/
section.scenery-detail {
  min-height: 100%;
  width: 100%;
  padding: 150px 0px;
  .container {
    display: flex;
    flex-direction: column;
  }
  .scenery-article {
    display: flex;
    align-items: flex-start;
    .scenery-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      .scenery-title {
        line-height: 40px;
        font-size: 2rem;
        color: #333;
        margin-top: 50px;
      }
      .scenery-banner {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .scenery-content {
        margin-top: 51px;
        @extend %ckeditor;
      }
      .scenery-pictures {
        margin-top: 50px;
        width: 100%;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        flex-wrap: wrap;
        figure {
          width: 33%;
          padding-bottom: 33%;
          margin-bottom: 0.5%;
          position: relative;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:last-child {
            margin-right: auto;
            margin-left: 0.5%;
          }
        }
        @media (max-width: 900px) {
          figure {
            width: 49.75%;
            padding-bottom: 49.75%;
            &:last-child {
              margin-left: unset;
            }
          }
        }
      }
    }
    .news-side {
      border-top: var(--mainColor) solid 6px;
      margin-left: 30px;
      width: 350px;
      background-color: white;
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      .title {
        background-color: #eeebeb;
        text-align: center;
        line-height: 40px;
        font-size: 1.2rem;
      }
      .last-news-box {
        background-color: #f0f0f0;
        padding: 10px;
        display: flex;
        margin-top: 10px;
        > img {
          width: 40%;
          height: auto;
        }
        .last-news-info {
          display: flex;
          flex-direction: column;
          padding-left: 10px;
        }
        .last-news-title {
          font-size: 1rem;
        }
        .last-news-date {
          font-size: 0.8rem;
          margin-top: auto;
        }
      }
      a:hover .last-news-box {
        background-color: #d6d6d6;
      }
      @media (max-width: 1280px) {
        display: none;
      }
    }
  }
}
/*--------------------scenery-detail--------------------*/

/*--------------------album-detail--------------------*/
section.album-detail {
  .album-pictures {
    width: 100%;
    display: flex;
    padding: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    figure {
      width: 31.33333%;
      margin: 1%;
      padding-bottom: 33.33333%;
      position: relative;
      &.hide {
        display: none;
      }
      .figure-filter {
        position: absolute;
        z-index: 1;
        background-color: var(--mainColor);
        padding: 0.8rem 1.5rem;
        top: 1rem;
        left: 1rem;
        border-radius: 5px;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .album-picture {
      background-color: red;
      width: 30%;
      padding-bottom: 18.5%;
      position: relative;
      margin-top: 20px;
      cursor: pointer;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (max-width: 900px) {
      figure {
        width: 49.75%;
        padding-bottom: 49.75%;
        margin: 0.125%;
      }
    }
  }
}
/*--------------------album-detail--------------------*/

/*--------------------partners--------------------*/
section.partners {
  margin: 50px 0px;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .partners-box {
    width: 23%;
    margin: 1%;
    padding: 10px 20px;
    min-height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 80px 80px 80px 80px;
      vertical-align: bottom;
    }
    h2.partners-title {
      margin: 15px 0px;
      color: #1d273b;
    }
    p.partners-info {
      color: #5d6678;
      margin-bottom: 15px;
    }
    ul.partners-links {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 30px;
        height: 30px;
        margin: 5px;
        border: 2px solid #5d6678;
        border-radius: 50%;
        text-align: center;
        i {
          line-height: 26px;
        }
      }
      a {
        color: #5d6678;
      }
      li:hover {
        border: 2px solid #5d6678;
        background-color: #5d6678;
        a {
          color: white;
          transition: all 0.3s linear;
        }
      }
    }
    @media (max-width: 900px) {
      width: 48%;
      margin-bottom: 1%;
    }
  }
}
section.partners-pagination {
  margin-bottom: 20px;
}
/*--------------------partners--------------------*/

/*--------------------keyframes --------------------*/
@keyframes scaleChange {
  0% {
    transform: translate(50%, 50%) scale(1, 1);
  }
  100% {
    transform: translate(50%, 50%) scale(1.05, 1.05);
  }
}

@keyframes MoveToLeft {
  0% {
    left: 80%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes MoveToRight {
  0% {
    left: 20%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes RoleLeft {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes RoleRight {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}

@keyframes RoleMaskOpacity {
  0% {
    opacity:.8;
  }
  100% {
    opacity:0;
  }
}

@keyframes BtnShowOpacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*--------------------keyframes --------------------*/
/*--------------------Others --------------------*/
/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 0;
  cursor: pointer;
}

// /* Track */
// ::-webkit-scrollbar-track {

// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #dbb17d;
//   border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #e4c6a1;
// }

/*--------------------Others --------------------*/

/*photoswipe*/

.pswp__bg {
  background-color: rgba(0, 0, 0, 0.65);
}
.pswp__caption__center {
  display: flex;
  justify-content: center;
}
.pswp__caption__center a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pswp__caption__center button {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: 900;
  border-radius: 10px;
  padding: 0px 20px;
}
.pswp__caption__center button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
