:root {
  --mainColor: #00e4e4;
}
body {
  background-color: #ededed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  &.lock-scroll {
    overflow: hidden;
  }
}

h1 {
  font-size: 3rem;
  &.section-title {
    color: white;
    font-weight: 400;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

nav {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 999;
  img {
    height: 40px;
    margin-right: 20px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li {
      margin: 0 20px;
      position: relative;
      min-height: 70px;
      height: 100%;
      display: flex;
      align-items: center;
      a,
      label {
        color: white;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          text-shadow: 0 0 0.2em var(--mainColor), 0 0 0.2em var(--mainColor);
        }
      }
    }

    li.dropdown {
      ul {
        display: none;
        position: absolute;
        width: 300%;
        left: -100%;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        flex-direction: column;
      }
      &:after {
        content: "";
        display: block;
        border-top: 5px solid #ccc;
        border-left: 4.5px solid transparent;
        border-right: 4.5px solid transparent;
        margin-left: 9px;
        transition-duration: 0.5s;
        transition-property: transform;
      }
      &:hover {
        ul {
          display: flex;
        }
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    input[type="checkbox"] {
      display: none;
    }
  }
  button.menu {
    display: none;
  }

  @media (max-width: 900px) {
    background-color: transparent;
    transition: background-color 0.3s linear;
    backdrop-filter: none;
    flex-direction: column;
    padding: 15px;
    img {
      position: absolute;
      height: 40px;
      width: auto;
      left: 15px;
      top: 15px;
    }
    &.no-top {
      background-color: rgba(0, 0, 0, 0.75);
      transition: background-color 0.3s linear;
    }
    ul {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      li {
        justify-content: center;
        width: 100%;
        a {
          width: 100%;
          text-align: center;
        }
        & + li {
          border-top: 1px solid oldlace;
        }
      }
      li.dropdown {
        display: flex;
        ul {
          display: none;
          position: static;
          width: 100%;
          background-color: rgba(0, 0, 0, 1);
          flex-direction: column;
        }
        &:hover input:not(:checked) + ul {
          display: none;
        }
        input:checked + ul {
          display: block;
        }
      }
    }
    button.menu {
      position: absolute;
      top: 15px;
      right: 15px;
      display: unset;
      height: 40px;
      width: 40px;
      background-color: transparent;
      &::before {
        content: "\f0c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        line-height: 40px;
        font-size: 30px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        display: block;
        color: white;
        text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
      }
    }
    &.open {
      background-color: rgba(0, 0, 0, 0.75);
      transition: background-color 0.3s linear;
      backdrop-filter: blur(3px);
      height: 100%;
      justify-content: start;
      button.menu::before {
        content: "\f00d";
      }
      ul {
        display: block;
        margin-top: 55px;
        li {
          height: 20px;
        }
      }
    }
  }
}
.nav-tab {
  padding: 30px 10px 10px 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  ul.nav {
    display: flex;
    li {
      padding: 5px 15px;
      margin: 0px 5px;
      color: white;
      cursor: pointer;
      &.active,
      &:hover {
        border-bottom: 2px solid var(--mainColor);
        color: var(--mainColor);
      }
    }
  }
  .info-tab {
    padding: 20px 5px;
    flex: 1 1 auto;
  }
  @media (max-width: 900px) {
    padding: 10px 10px;

    .info-tab {
      padding: 10px 5px;
      flex: 1 1 auto;
    }
  }
}

footer {
  margin-top: auto;
  padding: 50px 0;
  background-color: #535353;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img.logo {
      width: 200px;
    }
  }
  .footer-right {
    flex-basis: 50%;
    .footer-social {
      margin: 10px 0px;
      ul {
        display: flex;
        li + li {
          margin-left: 10px;
        }
        li:hover i {
          color: var(--mainColor);
          transition: color 0.3s linear;
        }
        i {
          font-size: 20px;
        }
      }
    }
    .footer-links {
      margin: 10px 0px 5px 0px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          flex-basis: auto;
          padding-right: 10px;
          margin: 0px 10px 5px 0px;
          font-weight: 900;
          border-right: white 1px solid;
          a {
            color: white;
            &:hover {
              color: var(--mainColor);
              transition: color 0.3s linear;
            }
          }
        }
        li:last-child {
          border: none;
        }
      }
    }
    .footer-copyright {
      color: white;
      font-family: "Calibri";
    }
  }
  @media (max-width: 900px) {
    .footer-left,
    .footer-right {
      flex-basis: 100%;
    }
    .footer-copyright,
    .footer-links ul,
    .footer-social ul {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
/*Modal*/
section.modal {
  display: none;
  &.open {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .modal-content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: calc(900px / 16 * 9);
    .modal-head {
      color: white;
      height: 40px;
      line-height: 40px;
      position: relative;
    }
    .modal-video {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    @media (max-width: 900px) {
      height: 40vh;
      width: calc(40vh / 9 * 16);
      max-width: 100%;
      margin: 0px 20px;
    }
  }
  button.modal-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: -40px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s linear;
    &:hover {
      background-color: var(--mainColor);
      transition: background-color 0.2s linear;
    }
    &::before {
      content: "\f00d";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      line-height: 40px;
      font-size: 30px;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 40px;
      height: 40px;
      display: block;
      color: white;
      text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
    }
    @media (max-width: 900px) {
      width: 40px;
      height: 40px;
      top: -40px;
      right: 0px;
    }
  }
}

/*section*/
section.top {
  padding-top: 70px;
}
section.full-hight {
  height: 100vh;
  img.full-hight {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
    z-index: -99;
  }
}
/*Button*/
button {
  border: none;
  cursor: pointer;
}

/*PATH*/
ul.path {
  color: white;
  display: flex;
  margin: 20px 0px;
  li {
    cursor: pointer;
    color: #808080;
    &:hover {
      color: var(--mainColor);
    }
  }
  li:last-child {
    color: white;
  }
  li + li {
    &::before {
      content: ">";
      color: #808080;
      margin: 0 5px;
    }
  }
}

/*--------------------Index--------------------*/
section.index-section {
  position: relative;
  padding-bottom: 10vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
  }
  img.full-hight {
    display: none;
    vertical-align: middle;
  }
  button {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    margin-top: auto;
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  @media (max-width: 900px) {
    video {
      display: none;
    }
    img.full-hight {
      display: unset;
      position: absolute;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      top: -50%;
      left: -50%;
      transform: translate(50%, 50%);
      z-index: -99;
    }
  }
}
section.news-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .news-title {
    height: 20%;
    min-height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      z-index: 99;
    }
  }
  .news-box {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: relative;
    display: flex;
    @media (min-width: 900px) and (max-width: 1280px) {
      height: 260px;
    }
    @media (min-width: 1280px) {
      height: 376.5px;
    }
    .news-left {
      flex: 0 0 50%;
      overflow: hidden;
    }
    .news-right {
      flex: 0 0 50%;
      overflow: hidden;
    }
    & > img {
      position: absolute;
      &.news-role-left {
        height: 120px;
        left: 20px;
        top: -120px;
      }
      &.news-role-right {
        height: 160px;
        right: 20px;
        top: -125px;
      }
    }
  }
  .mySwiper {
    height: 100%;
    .swiper-slide {
      overflow: hidden;
      position: relative;
      img {
        display: unset;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: -50%;
        left: -50%;
        transform: translate(50%, 50%);
      }
    }
    .swiper-pagination-bullet-active {
      background-color: white;
    }
  }
  @media (max-width: 900px) {
    .container {
      width: 100%;
      height: 80%;
    }
    .news-title {
      height: 10%;
      min-height: 100px;
    }
    .news-box {
      width: 100%;
      height: 100%;
      flex-direction: column;
      flex: 1 1 auto;
      .news-left {
        flex: 0 0 40%;
        width: 100%;
      }
      .news-right {
        flex: 0 0 60%;
      }
      img {
        &.news-role-left {
          display: none;
        }
        &.news-role-right {
          height: 80px;
          right: 10px;
          top: -62.5px;
          z-index: 99;
        }
      }
    }
  }
}
ul.news-in-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  li {
    padding: 0px 5px;
    height: 20%;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    &:hover {
      background-color: rgba(149, 178, 235, 0.2);
    }
  }
  a {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    p.title {
      flex: 1 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p.date {
      flex: 0 0 auto;
      color: rgba(255, 255, 255, 0.35);
      font-size: 14px;
    }
  }
}
button.news-in-tab-more {
  background-color: transparent;
  padding: 5px 10px;
  margin-left: auto;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: var(--mainColor);
    }
  }
  @media (max-width: 900px) {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    a {
      color: white;
    }
  }
}

section.role-section {
  display: flex;
  flex-wrap: wrap;
  .role-box {
    background-color: gray;
    height: 200px;
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img.role-bgc {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.3s linear;
    }
    img.role-logo {
      position: absolute;
      height: 60%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: height 0.3s linear;
      z-index: 99;
    }
    &:hover img.role-bgc {
      transform: scale(1.02);
      transition: all 0.3s linear;
    }

    &:hover img.role-logo {
      height: 70%;
      transition: height 0.3s linear;
    }
    &.role-right img.role {
      position: absolute;
      height: 250%;
      left: 50%;
      opacity: 0;
      transform: translate(-100%, 0);
    }

    &.role-right:not(.active):hover img.role {
      animation-name: MoveToRight;
      animation-duration: 1s;
    }

    &.role-left img.role {
      position: absolute;
      height: 250%;
      left: 50%;
      opacity: 0;
      transform: translate(0%, 0);
    }

    &.role-left:not(.active):hover img.role {
      animation-name: MoveToLeft;
      animation-duration: 1s;
    }

    .role-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      transition: opacity 0.3s linear;
    }
    &:hover .role-mask {
      opacity: 0.3;
      transition: opacity 0.3s linear;
    }
    &.role-right.active img.role {
      opacity: 1;
    }
    &.role-left.active img.role {
      opacity: 1;
    }
  }
  @media (max-width: 900px) {
    .role-box {
      flex-basis: 100%;
      &.role-right img.role {
        opacity: 1;
        left: 70%;
      }
      &.role-right:not(.active):hover img.role {
        animation-name: unset;
        animation-duration: 0s;
      }
      &.role-left img.role {
        opacity: 1;
        left: 30%;
      }

      &.role-left:not(.active):hover img.role {
        animation-name: unset;
        animation-duration: 0s;
      }
    }
  }
}
/*--------------------Index--------------------*/
/*--------------------NEWS--------------------*/
section.news-top {
  padding-bottom: 50px;
  position: relative;
  > img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .news-top-boxs {
    display: flex;
    width: 100%;
    .news-top-box {
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      margin: 10px 0px;
      display: flex;
      border-radius: 5px;
      flex-direction: column;
      flex: 1 1 33.333%;
      img {
        border-radius: 5px;
        width: 100%;
      }

      h3.title {
        margin: 15px 0px;
      }
      pre.description {
        margin-bottom: 15px;
        white-space: pre-wrap;
        line-height: 20px;
        font-size: 16px;
      }
      .info {
        display: flex;
        margin-top: auto;
        p.date {
          font-size: 14px;
        }
        p.tag {
          margin-left: auto;
          font-size: 14px;
          color: #fad200;
        }
      }
    }
  }
}

section.news-main {
  background-color: #ededed;
  margin: 20px 0px;
  ul.news-main-btns {
    display: flex;
    margin: 20px 0px;
    li {
      width: 200px;
      height: 45px;
      background-color: #b0b0b0;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & + li {
        margin-left: 15px;
      }
    }
    li.active,
    li:hover {
      background-color: #303030;
      color: var(--mainColor);
      transition: all 0.2s linear;
    }
  }

  .news-main-boxs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 3px solid transparent;
    &:hover {
      border: 3px solid rgba(57, 59, 64, 0.15);
      transition: all 0.3s linear;
    }
    .news-main-box {
      background-color: white;
      display: flex;
      height: 200px;
      padding: 15px;
      img {
        height: 100%;
      }
      .news-main-box-r {
        justify-content: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        h3.title {
          line-height: 26px;
        }
        pre {
          margin: 10px 0px;
          white-space: pre-wrap;
          line-height: 20px;
          font-size: 16px;
          color: #303030;
        }
        .info {
          display: flex;
          justify-content: end;
          p.date {
            margin: 0px 10px;
          }
          p.tag {
            margin: 0px 10px;
            color: #fad200;
          }
        }
      }
      @media (max-width: 900px) {
        padding: 10px;
        height: unset;
        img {
          max-width: 40%;
          height: auto;
        }
        .news-main-box-r {
          padding-left: 10px;
          pre {
            display: none;
          }
          .info {
            align-self: end;
            p.date {
              margin: 0px 5px;
            }
            p.tag {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }
}

section.news-detail {
  background: #4d6e80 url("https://genshin.mihoyo.com/_nuxt/img/ea6ea46.jpg")
    no-repeat top center;
  min-height: 100vh;
  width: 100%;
  padding: 150px 0px;
  .container {
    display: flex;
    flex-direction: column;
  }
  .news-article {
    display: flex;
    .news-body {
      background-color: #f0f0f0;
      padding: 10% 5%;
      display: flex;
      flex-direction: column;
      width: 900px;
      border-top: var(--mainColor) solid 6px;
      .news-title {
        line-height: 40px;
        font-size: 32px;
        color: #333;
      }
      .news-date {
        margin-top: 13px;
        font-size: 16px;
        line-height: 22px;
        color: #999;
      }
      .news-content {
        margin-top: 51px;
        font-size: 14px;
        color: #7d7d7d;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        p {
          width: 100%;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .news-side {
      border-top: var(--mainColor) solid 6px;
      margin-left: 30px;
      width: 350px;
      background-color: white;
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}

/*--------------------NEWS--------------------*/
/*--------------------WORLD--------------------*/
.storySwiper {
  width: 100%;
  height: 100%;
  background-color: black;
  .swiper-pagination {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
    right: 130vw;
    opacity: 0;
    transition: all 0.8s linear;
    &.active {
      right: calc(100vw - 30px) !important;
      opacity: 1;
      transition: all 0.5s linear;
    }
    &::before {
      content: "";
      height: 100%;
      width: 2px;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: calc(50% - 1px);
      z-index: -99;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #c4c4c4;
      opacity: 1;
      position: relative;
      &:hover {
        background-color: #fff;
        .nametag {
          background-color: rgba(255, 255, 255, 0.5);
          transition: background-color 0.3s linear;
        }
      }
      &.swiper-pagination-bullet-active {
        background-color: var(--mainColor);
        .nametag {
          background-color: rgba(0, 228, 228, 0.5);
          transition: background-color 0.3s linear;
        }
      }
    }
    .nametag {
      position: absolute;
      width: 80px;
      height: 30px;
      font-size: 18px;
      line-height: 18px;
      top: -10px;
      left: 30px;
      color: white;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }
    @media (max-width: 900px) {
      top: calc(100vh - 100px);
      width: 100vw;
      left: 0px;
      flex-direction: row;
      height: 100px;
      &::before {
        height: 2px;
        width: 100vw;
        left: 0;
        top: 10px;
      }
      .nametag {
        width: 30px;
        height: 80px;
        top: 20px;
        left: -10px;
        justify-content: center;
        padding-left: 0px;
      }
    }
  }
}
section.worldStory {
  .world-box {
    position: relative;
    img.world-bgc {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s linear;
    }
    .world-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }
}
/*--------------------WORLD--------------------*/
/*--------------------Role--------------------*/
section#role {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%) scale(1, 1);
    z-index: -1;
    animation: scaleChange 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
    &.active {
      opacity: 1;
      transition: opacity 6s;
    }
    &.leave {
      opacity: 0;
      transition: opacity 6s;
    }
  }
}

.roleMain {
  width: 80%;
  margin-left: auto;
  height: 100vh;
  position: relative;
  .rolePic {
    height: 100%;
    position: relative;
    user-select: none;
    img {
      position: absolute;
      height: 90%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      animation-name: MoveToLeft;
      animation-duration: 1s;
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .roleInfo {
    position: absolute;
    width: 40%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .roleName {
      font-size: 40px;
      color: white;
    }
    .roleStory {
      height: 40%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      color: white;
      overflow-x: hidden;
      overflow-y: scroll;
      font-size: 20px;
      letter-spacing: 0.1em;
      border-radius: 10px;
    }
  }
}
.roleSelector {
  position: absolute;
  min-height: 150px;
  height: 20vh;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 99;
  cursor: pointer;
  padding: 10px 0px;
  .roleCards {
    .roleCard {
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 10px;
      height: 100%;
      &:hover {
        .rolePic img {
          transform: translate(-50%, -50%) scale(1.4, 1.4);
        }
      }
      .rolePic {
        width: 100%;
        flex: 1 1 auto;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.2, 1.2);
          object-fit: cover;
          flex: 0 0 auto;
          height: 100%;
        }
      }

      .roleName {
        margin-top: auto;
        color: white;
        letter-spacing: 0.5em;
        font-weight: 900;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 20px;
      }
    }
  }
}
@media only screen and (max-device-width: 900px) {
  .roleMain {
    width: 100%;
    .roleInfo {
      width: 80%;
      left: 10%;
    }
  }
}

/*--------------------Role--------------------*/

/*--------------------keyframes --------------------*/
@keyframes scaleChange {
  0% {
    transform: translate(50%, 50%) scale(1, 1);
  }
  100% {
    transform: translate(50%, 50%) scale(1.05, 1.05);
  }
}

@keyframes MoveToLeft {
  0% {
    left: 80%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes MoveToRight {
  0% {
    left: 20%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}
/*--------------------keyframes --------------------*/
/*--------------------Others --------------------*/
/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 0;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbb17d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e4c6a1;
}

/*--------------------Others --------------------*/
