<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>海線少女</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.css"
    integrity="sha512-Q0DfJ+I5cbH4Wm20NlPZ/fENHil7k3ZgzI9b71LfQAB1IlM8Gt7aO7eOPX2QzYT+4fZaF6u1kSfZAHczl4r/9Q=="
    crossorigin="anonymous" />
  <!--Slick-->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" />
  <!---aos-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  <link rel="stylesheet" href="scss/reset.css" />
  <link rel="stylesheet" href="scss/style.css" />
</head>

<body>
  <nav>
    <a href="index.html"><img class="logo" src="img/index/logo.png" alt="" /></a>
    <ul>
      <li><a href="news.html">最新消息</a></li>
      <li class="dropdown">
        <label for="btn-2">世界觀 </label>
        <input type="checkbox" id="btn-2" />
        <ul>
          <li><a href="world_story.html">地區故事</a></li>
          <li><a href="world_comic.html">漫畫</a></li>
        </ul>
      </li>
      <li><a href="role.html">角色介紹</a></li>
      <li><a href="partners.html">合作夥伴</a></li>
      <li><a href="shop.html">周邊小物</a></li>
      <li><a href="about.html">關於我們</a></li>
      <li><a href="download_scenery.html">在地美照</a></li>
      <li><a href="album.html">畫廊</a></li>
    </ul>
    <button class="menu"></button>
  </nav>
  <section class="role" id="role">
    <img class="background active" :src="nowBgc[0]" alt="" />
    <img class="background" :src="nowBgc[1]" alt="" />

    <div class="role-main" v-for="(role,index) in roles" :data-position="[role.positionLeft ? 'right' : 'left']"
      :class="[index == nowRole ? 'active' : ''] ">
      <img :src="role.desktop.infoPic" class="role-info" :class="[role.positionLeft ? 'left' : 'right']" alt="" />
      <img :src="role.desktop.rolePic" class="role" :class="[role.positionLeft ? 'right' : 'left']" alt="" />
      <div class="role-button" :class="[role.positionLeft ? 'right' : 'left']">
        <img class="modal-open" :class="[role.role.about.infoPic ? '' : 'disable']" data-name="img"
          :src="role.role.about.buttonPic" alt="" />
        <img :class="[role.role.story.infoUrl ? '' : 'disable']" data-name="world" :src="role.role.story.buttonPic"
          @click="roleStoryOpen" alt="" />
      </div>
    </div>

    <div class="role-main-mobile" v-for="(role,index) in roles" :class="[index == nowRole ? 'active' : '']">
      <div class="mask"></div>
      <img :src="role.mobile.bgPic" class="bgc" alt="" />
      <img :src="role.mobile.rolePic" class="role" alt="" />
      <div class="role-button" :class="[role.positionLeft ? 'right' : 'left']">
        <img class="modal-open" :class="[role.role.about.infoPic ? '' : 'disable']" data-name="img"
          :src="role.role.about.buttonPic" alt="" />
        <img :class="[role.role.story.infoUrl ? '' : 'disable']" data-name="world" :src="role.role.story.buttonPic"
          @click="roleStoryOpen" alt="" />
      </div>
    </div>

    <div class="role-selector">
      <div class="container">
        <div class="swiper role-cards mySwiper">
          <div class="swiper-wrapper">
            <img class="swiper-slide role-card" :src="role.role.card" alt="" @click="roleChange(index)"
              v-for="(role,index) in roles" />
          </div>
        </div>
      </div>
    </div>

    <section class="modal" data-name="img">
      <div class="modal-content">
        <div class="modal-img">
          <img :src="roleShow.role.about.infoPic" alt="" />
          <button class="modal-close"></button>
        </div>
      </div>
    </section>
  </section>

  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

  <!---Vue-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"
    integrity="sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg=="
    crossorigin="anonymous"></script>
  <!---aos-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    var app = new Vue({
      el: "#role",
      data: {
        nowRole: 0,
        roles: [
          {
            name: "璐醬",
            positionLeft: true,
            bannerList: ["img/role/bgc.png", "img/role/bgc2.png"],
            role: {
              card: "img/role/璐醬/role_card.png",
              about: {
                buttonPic: "img/role/璐醬/role_btn_about.png",
                infoPic: "img/role/璐醬/role_about.jpg",
              },
              story: {
                buttonPic: "img/role/璐醬/role_btn_story.png",
                infoUrl: "123",
              },
            },
            desktop: {
              rolePic: "img/role/璐醬/role_desktop.png",
              infoPic: "img/role/璐醬/role_info.png",
            },
            mobile: {
              rolePic: "img/role/璐醬/role_mobile.png",
              bgPic: "img/role/璐醬/role_mobile_bgc.png",
            },
          },
          {
            name: "梧醬",
            positionLeft: false,
            bannerList: ["img/role/bgc5.jpg", "img/role/bgc6.png"],
            role: {
              card: "img/role/梧醬/role_card.png",
              about: {
                buttonPic: "img/role/梧醬/role_btn_about.png",
                infoPic: "img/role/梧醬/role_about.jpg",
              },
              story: {
                buttonPic: "img/role/梧醬/role_btn_story.png",
                infoUrl: "123",
              },
            },
            desktop: {
              rolePic: "img/role/梧醬/role_desktop.png",
              infoPic: "img/role/梧醬/role_info.png",
            },
            mobile: {
              rolePic: "img/role/梧醬/role_mobile.png",
              bgPic: "img/role/梧醬/role_mobile_bgc.png",
            },
          },
        ],
      },
      methods: {
        roleChange(id) {
          this.nowRole = id;
          this.roleBgcChange()
        },
        roleStoryOpen() {
          let storyUrl = this.roleShow.role.story.infoUrl
          if (storyUrl)
          {
            window.open(storyUrl, '_blank').focus();
          }
        },
        roleBgcChange() {
          //取得bgc之index
          const bgcs = document.querySelectorAll('#role .background');
          let bgcActiveIndex = 0;
          let bgcNonActiveIndex = 1;
          bgcs.forEach((bgc, index) => {
            if (bgc.classList.contains('active'))
            {
              bgcActiveIndex = index
            }
            else{
              //替換下一張照片
              bgcNonActiveIndex = index
              this.nowBgc[index] = this.roles[this.nowRole].bannerList[0]
            }
          })
          //搜尋非active之背景
          const bgcNonActive = document.querySelector('#role .background:not(.active)')
          
          //搜尋active之背景
          const bgcActive = document.querySelector('#role .background.active')
          //照片轉場
          bgcNonActive.classList.toggle('leave')
          bgcNonActive.classList.add('active')
        
          bgcActive.classList.toggle('active')
          bgcActive.classList.add('leave')

          //體換另外一張照片
          this.nowBgc[bgcActiveIndex] = this.roles[this.nowRole].bannerList[1]
          
        }
      },
      computed: {
        roleShow() {
          return this.roles[this.nowRole];
        },
        //預設背景為第一個腳色
        nowBgc() {
          return [,]
        }
      },
    });
  </script>

  <script>
    //swiper
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: "auto",
      spaceBetween: 10,
    });
  </script>

  <script>
    const backgroundList = document.querySelectorAll(".background");
    let nowIndex = 0;
    let nextIndex = 0;

    function backgroundNext() {
      backgroundList.forEach((background, index) => {
        if (background.className.match("active"))
        {
          nowIndex = index;
          if (index === backgroundList.length - 1)
          {
            nextIndex = 0;
          }
          else
          {
            nextIndex = index + 1;
          }
        }
      });
      backgroundChange();
    }

    function backgroundChange() {
      backgroundList.forEach((background, index) => {
        background.classList.remove("leave");
        background.classList.remove("active");
        if (index === nextIndex)
        {
          background.classList.add("active");
        } else if (index === nowIndex)
        {
          background.classList.add("leave");
        }
      });
    }

    setInterval(function () {
      backgroundNext();
    }, 12000);

  </script>
  <script>
    //====腳色按鈕定位====
    //---搜尋所有須定位之按鈕
    function resizeCheck() {
      let roles = document.querySelectorAll(".role-main");
      roles.forEach((role, index) => {
        let roleButton = role.querySelector(".role-button");
        let position = role.getAttribute('data-position')
        btnPosition(roleButton, position);
      })
    }
    //---定位按鈕
    function btnPosition(roleButton, position) {
      //---如畫面小於800，固定高度
      if (window.innerHeight <= 800)
      {
        roleButton.style.top = "520px";
        //腳色置右
        if (position == "right")
        {
          roleButton.style.left = "460px";
          //腳色置左
        } else if (position == "left")
        {
          roleButton.style.left = "60px";
        }
      } else
      //---如畫面大於800，浮動高度
      {
        roleButton.style.top = "65%";
        if (position == "right")
        {
          roleButton.style.left = "53%";
        } else if (position == "left")
        {
          roleButton.style.left = "7%";
        }
      }
    }
    //---畫面大小變動時跑定位
    window.addEventListener("resize", () => {
      resizeCheck();
    });
    //---載入時先定位
    resizeCheck();
  </script>

  <script src="js/main.js"></script>

  <script>
    AOS.init();
  </script>
</body>

</html>